/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #17d771;
  border-color: rgba(31, 231, 214, 0.42);
}
